In [236]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import os
import pandas as pd
from statsmodels.stats.multicomp import pairwise_tukeyhsd
import ast
folder_path = "data"
single_data = "data/participant_9999.csv"
df_list = []

# Iterate through all CSV files in the folder
for file in os.listdir(folder_path):
    if file.endswith(".csv"):  # Check if the file is a CSV
        file_path = os.path.join(folder_path, file)
        print(f"Reading: {file}")
        try:
            df_individual = pd.read_csv(file_path, on_bad_lines='skip')
            df_list.append(df_individual)
        except Exception as e:
            print(f"Error reading {file}: {e}")

df = pd.concat(df_list, ignore_index=True)
df_individual = pd.read_csv(single_data, on_bad_lines='skip')
df = df_individual # CHANGE
df['ID'] = df['ID'].ffill()
df['ID'] = df['ID'].astype(int)
df['PayoutDistNum'] = df['PayoutDistNum'].ffill()
df['PayoutDistNum'] = df['PayoutDistNum'].astype(int)

trial_df = df[df['TrialType']=='pirate_recog'].dropna(axis=1,how='all')
trial_df['reward'] = trial_df['reward'].astype(int)

trial_df.groupby('ID')['reward'].mean()

Reading: participant_1111.csv
Reading: participant_3007.csv
Reading: participant_3014.csv
Reading: participant_3025.csv
Reading: participant_3026.csv
Reading: participant_9999.csv

ID
9999    0.983333
Name: reward, dtype: float64

In [237]:
df

,ID,TrialType,PayoutDistNum,BlockNum,contextOrder,reward_rate_red,reward_rate_white,reward_rate_black,probe_order,QuizFailedNum,...,context,reward_prob_red,reward_prob_white,reward_prob_black,choice,probe,reward,confidence,TimeInBlock,Bonus
0,9999,InitializeStudy,3,NaN,"['driftwood_beach', 'driftwood_beach', 'driftw...","[0.3, 0.262, 0.393, 0.34, 0.275, 0.317, 0.319,...","[0.6, 0.569, 0.617, 0.635, 0.668, 0.516, 0.563...","[0.1, 0.126, 0.162, 0.132, 0.205, 0.295, 0.059...","['126', '43', '62', '24', '180', '82', '151', ...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9999,Instruction_1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9999,Instruction_2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9999,Instruction_3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9999,Instruction_4,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,9999,best_pirate,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,stonepine_forest,NaN,NaN,NaN,red_pirate,NaN,NaN,NaN,4.351700,NaN
522,9999,second_best_pirate,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,stonepine_forest,NaN,NaN,NaN,white_pirate,NaN,NaN,NaN,1.649318,NaN
523,9999,best_pirate,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,greenrock_mountain,NaN,NaN,NaN,black_pirate,NaN,NaN,NaN,3.112702,NaN
524,9999,second_best_pirate,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,greenrock_mountain,NaN,NaN,NaN,red_pirate,NaN,NaN,NaN,1.720397,NaN
525,9999,EndStudy,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[10, 14]"

In [238]:
# Step 1: Convert string to actual list
location_list = ast.literal_eval(df_individual['contextOrder'][0])

# Step 2: Get unique items
unique_locations = list(set(location_list))


print(unique_locations)

['stonepine_forest', 'icecap_mountain', 'coral_beach', 'greenrock_mountain', 'sunleaf_forest', 'driftwood_beach']

In [327]:
df_individual['reward'] = pd.to_numeric(df_individual['reward'], errors='coerce')
df_probe = df_individual[df_individual['TrialType']=='pirate_recog'].dropna(axis=1, how='all').reset_index(drop='index')

In [332]:
df_probe = df_probe[0:59]
df_probe

,ID,TrialType,PayoutDistNum,TimeElapsed,key_press,RT,context,choice,reward,confidence,TimeInBlock
0,9999,pirate_recog,3,3168.868983,5.0,1.350887,5,sure_old,1.0,sure,2.436462
1,9999,pirate_recog,3,3175.449082,5.0,1.083412,2,sure_old,1.0,sure,2.165596
2,9999,pirate_recog,3,3182.667642,6.0,1.898473,1,unsure_old,1.0,unsure,2.986470
3,9999,pirate_recog,3,3217.282198,5.0,1.315037,3,sure_old,1.0,sure,2.399760
4,9999,pirate_recog,3,3224.630083,5.0,1.193709,1,sure_old,1.0,sure,2.277047
5,9999,pirate_recog,3,3251.545192,5.0,1.325627,2,sure_old,1.0,sure,2.410717
6,9999,pirate_recog,3,3259.426435,5.0,1.265647,2,sure_old,1.0,sure,2.349073
7,9999,pirate_recog,3,3272.423580,8.0,1.416038,NaN,sure_new,1.0,sure,2.505385
8,9999,pirate_recog,3,3279.088762,5.0,1.299816,5,sure_old,1.0,sure,2.386147
9,9999,pirate_recog,3,3285.753167,5.0,1.247183,3,sure_old,1.0,sure,2.332084
10,9999,pirate_recog,3,3308.522223,5.0,1.349889,3,sure_old,1.0,sure,2.434281
11,9999,pirate_recog,3,3331.712360,5.0,1.267123,2,sure_old,1.0,sure,2.351259
12,9999,pirate_recog,3,3344.576533,5.0,1.417070,3,sure_old,1.0,sure,2.502887
13,9999,pirate_recog,3,3351.440065,5.0,1.368235,5,sure_old,1.0,sure,2.452285
14,9999,pirate_recog,3,3360.587185,5.0,1.299453,3,sure_old,1.0,sure,2.384115
15,9999,pirate_recog,3,3384.523147,5.0,1.137287,1,sure_old,1.0,sure,2.223227
16,9999,pirate_recog,3,3392.001350,5.0,1.399923,3,sure_old,1.0,sure,2.484387
17,9999,pirate_recog,3,3401.714259,5.0,1.763016,1,sure_old,1.0,sure,2.848593
18,9999,pirate_recog,3,3409.693560,5.0,1.619230,6,sure_old,1.0,sure,2.704879
19,9999,pirate_recog,3,3421.748249,5.0,1.358976,2,sure_old,1.0,sure,2.444906
20,9999,pirate_recog,3,3432.471714,5.0,1.272774,3,sure_old,1.0,sure,2.357268
21,9999,pirate_recog,3,3439.522549,6.0,1.405734,4,unsure_old,1.0,unsure,2.491971
22,9999,pirate_recog,3,3455.356451,5.0,1.512262,5,sure_old,1.0,sure,2.597111
23,9999,pirate_recog,3,3493.106699,7.0,2.036413,5,unsure_new,0.0,unsure,3.119966
24,9999,pirate_recog,3,3513.573454,8.0,1.985977,NaN,sure_new,1.0,sure,3.071962
25,9999,pirate_recog,3,3520.822753,8.0,1.507884,NaN,sure_new,1.0,sure,2.591612
26,9999,pirate_recog,3,3535.603561,5.0,1.206447,4,sure_old,1.0,sure,2.292924
27,9999,pirate_recog,3,3558.753160,5.0,1.146884,2,sure_old,1.0,sure,2.227643
28,9999,pirate_recog,3,3565.453362,5.0,1.230474,1,sure_old,1.0,sure,2.317512
29,9999,pirate_recog,3,3572.088955,5.0,1.057261,5,sure_old,1.0,sure,2.140507
30,9999,pirate_recog,3,3578.960211,8.0,1.366487,NaN,sure_new,1.0,sure,2.452663
31,9999,pirate_recog,3,3585.947983,5.0,1.210550,2,sure_old,1.0,sure,2.296938
32,9999,pirate_recog,3,3593.156262,7.0,1.613209,NaN,unsure_new,1.0,unsure,2.697673
33,9999,pirate_recog,3,3608.651307,5.0,1.700060,4,sure_old,1.0,sure,2.786509
34,9999,pirate_recog,3,3619.840523,5.0,1.523398,4,sure_old,1.0,sure,2.609175
35,9999,pirate_recog,3,3627.186745,5.0,1.425116,4,sure_old,1.0,sure,2.512178
36,9999,pirate_recog,3,3635.956763,5.0,1.678427,6,sure_old,1.0,sure,2.761777
37,9999,pirate_recog,3,3644.893461,5.0,1.684138,4,sure_old,1.0,sure,2.767770
38,9999,pirate_recog,3,3655.770908,7.0,2.966960,NaN,unsure_new,1.0,unsure,4.051260
39,9999,pirate_recog,3,3664.921720,5.0,2.127733,5,sure_old,1.0,sure,3.213209
40,9999,pirate_recog,3,3672.474583,5.0,1.321491,4,sure_old,1.0,sure,2.404203
41,9999,pirate_recog,3,3679.125372,5.0,1.031281,1,sure_old,1.0,sure,2.113957
42,9999,pirate_recog,3,3686.959469,5.0,1.243034,2,sure_old,1.0,sure,2.328859
43,9999,pirate_recog,3,3704.018584,7.0,2.459538,NaN,unsure_new,1.0,unsure,3.543626
44,9999,pirate_recog,3,3711.488171,5.0,1.810309,3,sure_old,1.0,sure,2.894183
45,9999,pirate_recog,3,3718.428449,5.0,1.244471,4,sure_old,1.0,sure,2.330022
46,9999,pirate_recog,3,3746.106491,5.0,1.283848,2,sure_old,1.0,sure,2.370949
47,9999,pirate_recog,3,3754.464443,7.0,2.571512,NaN,unsure_new,1.0,unsure,3.656229
48,9999,pirate_recog,3,3761.128910,5.0,1.011083,1,sure_old,1.0,sure,2.092361
49,9999,pirate_recog,3,3767.841473,5.0,1.112828,1,sure_old,1.0,sure,2.199610
50,9999,pirate_recog,3,3774.763097,5.0,0.860097,1,sure_old,1.0,sure,1.942052
51,9999,pirate_recog,3,3781.834731,8.0,1.440893,NaN,sure_new,1.0,sure,2.527633
52,9999,pirate_recog,3,3788.702967,5.0,1.200920,6,sure_old,1.0,sure,2.287652
53,9999,pirate_recog,3,3795.894113,5.0,1.624416,5,sure_old,1.0,sure,2.709455
54,9999,pirate_recog,3,3803.542147,5.0,1.663629,5,sure_old,1.0,sure,2.747827
55,9999,pirate_recog,3,3809.868273,6.0,0.572705,6,unsure_old,1.0,unsure,1.652820
56,9999,pirate_recog,3,3817.379193,5.0,1.198848,4,sure_old,1.0,sure,2.284738
57,9999,pirate_recog,3,3824.489871,5.0,1.103278,3,sure_old,1.0,sure,2.185292
58,9999,pirate_recog,3,3835.363196,5.0,0.993318,6,sure_old,1.0,sure,2.075541

In [ ]:
pt2_df = df_individual[df_individual['TrialType'].str.contains("pt2")].dropna(axis=1,how='all')
pt2_df['TrialNum'] = pt2_df['TrialType'].str.extract(r'_(\d+)')
pt2_df['TrialChoice'] = pt2_df['choice'].str.extract(r'(\w+)_')

,ID,TrialType,PayoutDistNum,TimeElapsed,key_press,RT,context,reward_prob_red,reward_prob_white,reward_prob_black,choice,reward,TimeInBlock,"Deck, Trial"
0,9999,pt2_pirate_15,3,3172.986606,3.0,0.531955,blank,0.316,0.330,0.665,black_pirate,1.0,3.854442,"black, 15"
1,9999,pt2_pirate_16,3,3179.380383,3.0,0.341242,blank,0.292,0.334,0.565,black_pirate,1.0,3.665239,"black, 16"
2,9999,pt2_pirate_17,3,3186.648219,3.0,0.394924,blank,0.192,0.327,0.521,black_pirate,1.0,3.713845,"black, 17"
3,9999,pt2_pirate_24,3,3222.078178,3.0,1.177063,blank,0.414,0.146,0.674,black_pirate,0.0,4.494384,"black, 24"
4,9999,pt2_pirate_25,3,3228.728547,3.0,0.472401,blank,0.470,0.239,0.679,black_pirate,1.0,3.794388,"black, 25"
5,9999,pt2_pirate_31,3,3256.794000,3.0,1.655451,blank,0.446,0.082,0.646,black_pirate,1.0,4.969915,"black, 31"
6,9999,pt2_pirate_32,3,3265.731966,2.0,2.663541,blank,0.539,0.096,0.483,white_pirate,0.0,5.993996,"white, 32"
7,9999,pt2_pirate_34,3,3276.390013,2.0,0.379397,blank,0.297,0.245,0.482,white_pirate,0.0,3.685583,"white, 34"
8,9999,pt2_pirate_35,3,3283.106136,2.0,0.425583,blank,0.312,0.210,0.556,white_pirate,0.0,3.734718,"white, 35"
9,9999,pt2_pirate_36,3,3289.716297,1.0,0.369561,blank,0.363,0.167,0.577,red_pirate,0.0,3.679048,"red, 36"
10,9999,pt2_pirate_41,3,3315.058582,3.0,2.938088,blank,0.144,0.361,0.669,black_pirate,1.0,6.250842,"black, 41"
11,9999,pt2_pirate_45,3,3336.554334,3.0,1.233460,blank,0.163,0.556,0.367,black_pirate,1.0,4.551114,"black, 45"
12,9999,pt2_pirate_47,3,3348.691548,3.0,0.474515,blank,0.054,0.594,0.296,black_pirate,1.0,3.788714,"black, 47"
13,9999,pt2_pirate_48,3,3357.904128,3.0,2.825510,blank,0.074,0.497,0.363,black_pirate,1.0,6.139473,"black, 48"
14,9999,pt2_pirate_49,3,3365.555458,3.0,1.327646,blank,0.104,0.596,0.416,black_pirate,0.0,4.643031,"black, 49"
15,9999,pt2_pirate_54,3,3389.182733,3.0,1.012503,blank,0.059,0.713,0.478,black_pirate,1.0,4.328885,"black, 54"
16,9999,pt2_pirate_55,3,3398.527862,3.0,2.914319,blank,0.058,0.696,0.245,black_pirate,0.0,6.226976,"black, 55"
17,9999,pt2_pirate_56,3,3406.648676,3.0,1.321743,blank,0.055,0.599,0.174,black_pirate,0.0,4.633667,"black, 56"
18,9999,pt2_pirate_57,3,3414.736862,3.0,1.427574,blank,0.081,0.741,0.116,black_pirate,0.0,4.740125,"black, 57"
19,9999,pt2_pirate_59,3,3425.840388,3.0,0.441591,blank,0.079,0.691,0.355,black_pirate,1.0,3.752152,"black, 59"
20,9999,pt2_pirate_61,3,3436.687918,2.0,0.593731,blank,0.078,0.539,0.256,white_pirate,1.0,3.907934,"white, 61"
21,9999,pt2_pirate_62,3,3444.330732,2.0,1.184004,blank,0.092,0.607,0.271,white_pirate,0.0,4.502769,"white, 62"
22,9999,pt2_pirate_65,3,3460.192246,2.0,1.166152,blank,0.178,0.557,0.386,white_pirate,0.0,4.488258,"white, 65"
23,9999,pt2_pirate_73,3,3497.903814,1.0,1.129077,blank,0.487,0.088,0.476,red_pirate,0.0,4.448041,"red, 73"
24,9999,pt2_pirate_77,3,3517.905875,3.0,0.663954,blank,0.472,0.216,0.307,black_pirate,0.0,3.979776,"black, 77"
25,9999,pt2_pirate_78,3,3524.953333,3.0,0.463434,blank,0.438,0.132,0.150,black_pirate,1.0,3.775950,"black, 78"
26,9999,pt2_pirate_81,3,3539.770330,2.0,0.532005,blank,0.624,0.122,0.258,white_pirate,0.0,3.839858,"white, 81"
27,9999,pt2_pirate_86,3,3562.801602,1.0,0.383121,blank,0.656,0.067,0.213,red_pirate,1.0,3.692424,"red, 86"
28,9999,pt2_pirate_87,3,3569.613384,1.0,0.480399,blank,0.686,0.061,0.137,red_pirate,1.0,3.794736,"red, 87"
29,9999,pt2_pirate_88,3,3576.170532,1.0,0.403496,blank,0.630,0.144,0.212,red_pirate,1.0,3.716873,"red, 88"
30,9999,pt2_pirate_89,3,3583.282100,1.0,0.624583,blank,0.645,0.148,0.239,red_pirate,1.0,3.956129,"red, 89"
31,9999,pt2_pirate_90,3,3590.086574,1.0,0.484861,blank,0.586,0.139,0.237,red_pirate,0.0,3.803386,"red, 90"
32,9999,pt2_pirate_91,3,3597.242505,1.0,0.433094,blank,0.633,0.110,0.329,red_pirate,1.0,3.748125,"red, 91"
33,9999,pt2_pirate_94,3,3612.844887,2.0,0.497736,blank,0.535,0.188,0.438,white_pirate,0.0,3.820906,"white, 94"
34,9999,pt2_pirate_96,3,3624.329841,2.0,0.789438,blank,0.559,0.198,0.376,white_pirate,1.0,4.112916,"white, 96"
35,9999,pt2_pirate_97,3,3632.818293,2.0,1.932412,blank,0.569,0.296,0.346,white_pirate,0.0,5.255761,"white, 97"
36,9999,pt2_pirate_98,3,3641.746620,2.0,2.129285,blank,0.507,0.086,0.369,white_pirate,0.0,5.444880,"white, 98"
37,9999,pt2_pirate_99,3,3651.371249,2.0,2.779905,blank,0.444,0.081,0.365,white_pirate,1.0,6.099648,"white, 99"
38,9999,pt2_pirate_100,3,3661.359713,2.0,1.883579,blank,0.513,0.118,0.342,white_pirate,0.0,5.209152,"white, 100"
39,9999,pt2_pirate_101,3,3669.687334,2.0,1.064080,blank,0.369,0.264,0.482,white_pirate,1.0,4.384386,"white, 101"
40,9999,pt2_pirate_102,3,3676.624122,2.0,0.488279,blank,0.262,0.369,0.470,white_pirate,0.0,3.801035,"white, 102"
41,9999,pt2_pirate_103,3,3684.246669,3.0,1.447132,blank,0.152,0.321,0.474,black_pirate,1.0,4.773480,"black, 103"
42,9999,pt2_pirate_104,3,3692.015477,3.0,1.345421,blank,0.141,0.104,0.497,black_pirate,0.0,4.672160,"black, 104"
43,9999,pt2_pirate_107,3,3708.206618,3.0,0.482654,blank,0.076,0.295,0.469,black_pirate,0.0,3.800129,"black, 107"
44,9999,pt2_pirate_108,3,3715.706072,3.0,0.548310,blank,0.121,0.247,0.513,black_pirate,0.0,3.862790,"black, 108"
45,9999,pt2_pirate_109,3,3722.604515,3.0,0.462512,blank,0.239,0.328,0.637,black_pirate,1.0,3.787655,"black, 109"
46,9999,pt2_pirate_115,3,3750.444120,3.0,0.627883,blank,0.062,0.349,0.653,black_pirate,0.0,3.943091,"black, 115"
47,9999,pt2_pirate_116,3,3758.637755,3.0,0.469446,blank,0.168,0.225,0.779,black_pirate,1.0,3.777873,"black, 116"
48,9999,pt2_pirate_117,3,3765.239300,3.0,0.433975,blank,0.069,0.149,0.641,black_pirate,1.0,3.747051,"black, 117"
49,9999,pt2_pirate_118,3,3772.451153,2.0,0.898699,blank,0.093,0.311,0.550,white_pirate,0.0,4.213878,"white, 118"
50,9999,pt2_pirate_119,3,3778.905455,2.0,0.429240,blank,0.169,0.313,0.481,white_pirate,1.0,3.739841,"white, 119"
51,9999,pt2_pirate_120,3,3786.009051,1.0,0.495893,blank,0.073,0.388,0.596,red_pirate,0.0,3.806719,"red, 120"
52,9999,pt2_pirate_121,3,3792.811867,1.0,0.385049,blank,0.146,0.303,0.814,red_pirate,0.0,3.707326,"red, 121"
53,9999,pt2_pirate_122,3,3800.421545,1.0,0.800809,blank,0.186,0.359,0.754,red_pirate,0.0,4.121700,"red, 122"
54,9999,pt2_pirate_123,3,3807.810709,2.0,0.546805,blank,0.140,0.410,0.923,white_pirate,0.0,3.864905,"white, 123"
55,9999,pt2_pirate_124,3,3814.716681,2.0,1.126363,blank,0.247,0.419,0.913,white_pirate,0.0,4.443327,"white, 124"
56,9999,pt2_pirate_125,3,3821.929765,3.0,0.827038,blank,0.214,0.339,0.831,black_pirate,1.0,4.141888,"black, 125"
57,9999,pt2_pirate_126,3,3828.785444,3.0,0.568324,blank,0.211,0.345,0.654,black_pirate,1.0,3.887353,"black, 126"
58,9999,pt2_pirate_128,3,3839.718641,1.0,0.660789,blank,0.077,0.177,0.598,red_pirate,0.0,3.976867,"red, 128"

In [321]:
target_rows = df_individual[df_individual['TrialType'] == 'pirate_recog'].index + 1

valid_indices = target_rows[target_rows < len(df)]

result_df = df_individual.loc[valid_indices].reset_index(drop=True)

result_df = result_df[result_df['TrialType'].str.contains("pt2")].dropna(axis=1,how='all')
result_df['Deck, Trial'] = result_df['choice'].str.extract(r'^(black|red|white)')[0] + ', ' + result_df['TrialType'].str.extract(r'pt2_pirate_(\d+)')[0]
result_df
sub_df = result_df[['ID','TrialType','Deck, Trial','reward']]
sub_df

      ID       TrialType Deck, Trial  reward
0   9999   pt2_pirate_15   black, 15     1.0
1   9999   pt2_pirate_16   black, 16     1.0
2   9999   pt2_pirate_17   black, 17     1.0
3   9999   pt2_pirate_24   black, 24     0.0
4   9999   pt2_pirate_25   black, 25     1.0
5   9999   pt2_pirate_31   black, 31     1.0
6   9999   pt2_pirate_32   white, 32     0.0
7   9999   pt2_pirate_34   white, 34     0.0
8   9999   pt2_pirate_35   white, 35     0.0
9   9999   pt2_pirate_36     red, 36     0.0
10  9999   pt2_pirate_41   black, 41     1.0
11  9999   pt2_pirate_45   black, 45     1.0
12  9999   pt2_pirate_47   black, 47     1.0
13  9999   pt2_pirate_48   black, 48     1.0
14  9999   pt2_pirate_49   black, 49     0.0
15  9999   pt2_pirate_54   black, 54     1.0
16  9999   pt2_pirate_55   black, 55     0.0
17  9999   pt2_pirate_56   black, 56     0.0
18  9999   pt2_pirate_57   black, 57     0.0
19  9999   pt2_pirate_59   black, 59     1.0
20  9999   pt2_pirate_61   white, 61     1.0
21  9999   pt2_pirate_62   white, 62     0.0
22  9999   pt2_pirate_65   white, 65     0.0
23  9999   pt2_pirate_73     red, 73     0.0
24  9999   pt2_pirate_77   black, 77     0.0
25  9999   pt2_pirate_78   black, 78     1.0
26  9999   pt2_pirate_81   white, 81     0.0
27  9999   pt2_pirate_86     red, 86     1.0
28  9999   pt2_pirate_87     red, 87     1.0
29  9999   pt2_pirate_88     red, 88     1.0
30  9999   pt2_pirate_89     red, 89     1.0
31  9999   pt2_pirate_90     red, 90     0.0
32  9999   pt2_pirate_91     red, 91     1.0
33  9999   pt2_pirate_94   white, 94     0.0
34  9999   pt2_pirate_96   white, 96     1.0
35  9999   pt2_pirate_97   white, 97     0.0
36  9999   pt2_pirate_98   white, 98     0.0
37  9999   pt2_pirate_99   white, 99     1.0
38  9999  pt2_pirate_100  white, 100     0.0
39  9999  pt2_pirate_101  white, 101     1.0
40  9999  pt2_pirate_102  white, 102     0.0
41  9999  pt2_pirate_103  black, 103     1.0
42  9999  pt2_pirate_104  black, 104     0.0
43  9999  pt2_pirate_107  black, 107     0.0
44  9999  pt2_pirate_108  black, 108     0.0
45  9999  pt2_pirate_109  black, 109     1.0
46  9999  pt2_pirate_115  black, 115     0.0
47  9999  pt2_pirate_116  black, 116     1.0
48  9999  pt2_pirate_117  black, 117     1.0
49  9999  pt2_pirate_118  white, 118     0.0
50  9999  pt2_pirate_119  white, 119     1.0
51  9999  pt2_pirate_120    red, 120     0.0
52  9999  pt2_pirate_121    red, 121     0.0
53  9999  pt2_pirate_122    red, 122     0.0
54  9999  pt2_pirate_123  white, 123     0.0
55  9999  pt2_pirate_124  white, 124     0.0
56  9999  pt2_pirate_125  black, 125     1.0
57  9999  pt2_pirate_126  black, 126     1.0
58  9999  pt2_pirate_128    red, 128     0.0

In [326]:
col_df  =sub_df['Deck, Trial'].str.extract(r'(\d+)').astype(int)
# Extract the numbers as a list
numbers = col_df[0].tolist()

colors = ["red", "white", "black"]

# Create combined strings
combined = [f"{color}, {num}" for num in numbers for color in colors]

# Create final DataFrame
regression_df = pd.DataFrame(combined, columns=["Deck, Trial"])

# First, split the "Deck, Trial" column into color and number
regression_df[['color', 'number']] = regression_df['Deck, Trial'].str.split(', ', expand=True)
regression_df['number'] = regression_df['number'].astype(int) 

# Now, define a function that checks if there's a match in pt2_df
def compute_di1(row):
    return int(
        ((sub_df['Deck, Trial'] == row['Deck, Trial'])).any()
    )
def compute_di2(row):
    return int(
        ((pt2_df['TrialNum'].astype(int) == row['number']- 1) & 
         (pt2_df['TrialChoice'].str.lower() == row['color'])).any()
    )
def compute_di3(row):
    return int(
        ((pt2_df['TrialNum'].astype(int) == row['number']- 2) & 
         (pt2_df['TrialChoice'].str.lower() == row['color'])).any()
    )
def compute_dr1(row):
    return int(
        ((sub_df['reward'] == 1) &
        (sub_df['Deck, Trial'] == row['Deck, Trial'])).any()
    )
def compute_dr2(row):
    # Filter for matching trial and choice
    match = pt2_df[
        (pt2_df['TrialNum'].astype(int) == row['number']-1) &
        (pt2_df['TrialChoice'].str.lower() == row['color'])
    ]
    # If there's a match and reward == 1, return 1
    if not match.empty and (match['reward'] == 1).any():
        return 1
    return 0
def compute_dr3(row):
    # Filter for matching trial and choice
    match = pt2_df[
        (pt2_df['TrialNum'].astype(int) == row['number']-2) &
        (pt2_df['TrialChoice'].str.lower() == row['color'])
    ]
    # If there's a match and reward == 1, return 1
    if not match.empty and (match['reward'] == 1).any():
        return 1
    return 0


# Apply the function to create the DI column
regression_df['DI-1'] = regression_df.apply(compute_di1, axis=1)
regression_df['DR-1'] = regression_df.apply(compute_dr1, axis=1)
regression_df['DI-2'] = regression_df.apply(compute_di2, axis=1)
regression_df['DR-2'] = regression_df.apply(compute_dr2, axis=1)
regression_df['DI-3'] = regression_df.apply(compute_di3, axis=1)
regression_df['DR-3'] = regression_df.apply(compute_dr3, axis=1)
regression_df

    Deck, Trial  color  number  DI-1  DR-1  DI-2  DR-2  DI-3  DR-3
0       red, 15    red      15     0     0     0     0     0     0
1     white, 15  white      15     0     0     1     0     1     0
2     black, 15  black      15     1     1     0     0     0     0
3       red, 16    red      16     0     0     0     0     0     0
4     white, 16  white      16     0     0     0     0     1     0
..          ...    ...     ...   ...   ...   ...   ...   ...   ...
172  white, 126  white     126     0     0     0     0     1     0
173  black, 126  black     126     1     1     1     1     0     0
174    red, 128    red     128     1     0     1     1     0     0
175  white, 128  white     128     0     0     0     0     0     0
176  black, 128  black     128     0     0     0     0     1     1

[177 rows x 9 columns]

    Deck, Trial  color  number  DI
0       red, 14    red      14   0
1     white, 14  white      14   1
2     black, 14  black      14   0
3       red, 15    red      15   0
4     white, 15  white      15   0
..          ...    ...     ...  ..
172  white, 125  white     125   0
173  black, 125  black     125   1
174    red, 127    red     127   1
175  white, 127  white     127   0
176  black, 127  black     127   0

[177 rows x 4 columns]

In [231]:
# Find index of the first occurrence of 'pirate_1'
start_idx = df_individual[df_individual['TrialType'] == 'pt2_pirate_2'].index[0]

# Find index of the first occurrence of 'Instruction_44'
end_idx = df_individual[df_individual['TrialType'] == 'Instruction_50'].index[0]

# Slice the dataframe from start to end (inclusive)
sub_df = df_individual.loc[start_idx:end_idx-1].reset_index(drop=True)
sub_df.dropna(axis=1,how='all')

Empty DataFrame
Columns: []
Index: []

In [232]:
best_pirate_df = df_individual[df_individual['TrialType'] == 'best_pirate'].dropna(axis=1,how='all').reset_index(drop='index')

In [233]:
import ast
import pandas as pd

# Parse context order
chosen_pirates = best_pirate_df['choice'].dropna().values
context_order = ast.literal_eval(df_individual['contextOrder'].dropna().values[0])
unique_contexts = pd.Series(context_order).unique()

# Initialize list to store correctness
correct_flags = []
first_flags = []
for i, c in enumerate(unique_contexts):
    # Filter relevant rows
    df_context = df_individual[
        (df_individual['TrialType'].str.startswith("pirate_")) &
        (df_individual['context'] == c)
    ].dropna(axis=1, how='all')

    # Assign index column
    df_context['index'] = ['first' if j < 10 else 'main' for j in range(len(df_context))]

    # Group and compute means
    group_means = df_context.drop(columns='probe') \
        .groupby('index')[['reward_prob_red', 'reward_prob_white', 'reward_prob_black']] \
        .mean().reset_index()

    # Get max-probability color in "main" trials
    main_row = group_means[group_means['index'] == 'main'][['reward_prob_red', 'reward_prob_white', 'reward_prob_black']]
    max_col = main_row.idxmax(axis=1).values[0].replace("reward_prob_", "")

    # Get actual choice
    chose = chosen_pirates[i].replace("_pirate", "")

    # Append correctness flag
    correct_flags.append(1 if max_col == chose else 0)

    print(f"Context: {c} | Chose: {chose} | Correct: {max_col == chose} | Best Color: {max_col}")


    # Get max-probability color in "main" trials
    main_row = group_means[group_means['index'] == 'first'][['reward_prob_red', 'reward_prob_white', 'reward_prob_black']]
    next_col = main_row.idxmax(axis=1).values[0].replace("reward_prob_", "")

    # Get actual choice
    chose = chosen_pirates[i].replace("_pirate", "")

    # Append correctness flag
    first_flags.append(1 if next_col == chose else 0)

    print(f"Context: {c} | Chose: {chose} | Correct (first ten): {next_col == chose} | Best Color: {next_col}")

# Assign the full list to the DataFrame
best_pirate_df['correct'] = correct_flags
best_pirate_df['first_correct'] = first_flags

Context: driftwood_beach | Chose: white | Correct: False | Best Color: black
Context: driftwood_beach | Chose: white | Correct (first ten): True | Best Color: white
Context: sunleaf_forest | Chose: white | Correct: True | Best Color: white
Context: sunleaf_forest | Chose: white | Correct (first ten): False | Best Color: black
Context: icecap_mountain | Chose: red | Correct: True | Best Color: red
Context: icecap_mountain | Chose: red | Correct (first ten): False | Best Color: white
Context: coral_beach | Chose: black | Correct: True | Best Color: black
Context: coral_beach | Chose: black | Correct (first ten): False | Best Color: red
Context: stonepine_forest | Chose: red | Correct: True | Best Color: red
Context: stonepine_forest | Chose: red | Correct (first ten): False | Best Color: black
Context: greenrock_mountain | Chose: black | Correct: False | Best Color: white
Context: greenrock_mountain | Chose: black | Correct (first ten): False | Best Color: red

In [234]:
best_pirate_df

,TrialType,TimeElapsed,key_press,RT,context,choice,TimeInBlock,correct,first_correct
0,best_pirate,4053.910825,2.0,1.625439,driftwood_beach,white_pirate,2.671070,0,1
1,best_pirate,4065.004759,2.0,2.658656,sunleaf_forest,white_pirate,3.712437,1,0
2,best_pirate,4074.179119,1.0,3.169927,icecap_mountain,red_pirate,4.220569,1,0
3,best_pirate,4081.903655,3.0,3.126842,coral_beach,black_pirate,4.175837,1,0
4,best_pirate,4089.661596,1.0,3.301669,stonepine_forest,red_pirate,4.351700,1,0
5,best_pirate,4096.271224,3.0,2.063107,greenrock_mountain,black_pirate,3.112702,0,0

In [ ]:
max_col==chose

True

In [ ]:
chosen_pirates[0].replace("_pirate","")

'red'